.Div_App_Style {
  text-align: center;
  height: 100vh;
}
.Div_Header_Style {
  margin: 0px;
  height: 15vh;
  display: flex;
  align-items: center;
  background-color: #113b92;
}
.Div_LogoPart_Style {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Div_TilePart_Style {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Div_Circle_Style {
  border: 13px solid whitesmoke;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
@keyframes TFL {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
.Div_Rectangle_Style {
  background-color: whitesmoke;
  width: 100px;
  height: 22px;
  margin-left: -20px;
  margin-top: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Concert One", cursive;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: bolder;
}
.Div_Rectangle_Style:hover{
  cursor: pointer;
}
.P_TFL_Style {
  color: #113b92;
  animation: TFL infinite 2s;
}
.P_Title_Style {
  color: whitesmoke;
  text-indent: 20px;
  letter-spacing: 2px;
  font-family: "Racing Sans One", cursive;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
}

.Div_Main_Style {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
}
.Div_LeftPanel_Style {
  width: 15%;
  height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  background-color: #f7fbfe;
}
.Div_RightPanel_Style {
  background-color: white;
  overflow-y: overlay;
  overflow-x: hidden;
  width: 85%;
  height: 100%;
}
.Div_Modes_Style {
  width: 100%;
}
.P_Loading_Style{
  font-family: "Concert One", cursive;
  font-size: 17px;
  color: #2ecc71;
  letter-spacing: 3px;
  animation: TFL infinite 2s;
}
.P_Error_Style{
  font-family: "Concert One", cursive;
  font-size: 17px;
  color: #cc2e2e;
  letter-spacing: 3px;
  animation: TFL infinite 2s;
}
.Div_Vehicle_Style {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #f7fbfe;
  transition: 150ms;
}
.Div_Vehicle_Selected_Style {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ecf6ff;
  border-left: 5px solid #113b92;
  transition: 150ms;
}

.Div_Vehicle_Style:hover {
  background-color: #ecf6ff;
  border-left: 5px solid #113b92;
  cursor: pointer;
  margin: 0px;
}
.P_Vehicle_Style {
  width: 100%;
  padding: 12px;
  text-align: left;
  text-indent: 15px;
  letter-spacing: 0.5px;
  color: #2f3640;
  font-family: "Oswald", sans-serif;
}
.Div_ShowSelectMode_Style {
  margin-top: 50px;
}
.P_ShowSelectMode_Style,
.P_Back_Style {
  width: calc(85% - 35px);
  padding: 13px;
  text-align: center;
  margin: 0px;
  background-color: #f7f7f7;
  color: #2f3640;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 3px;
  border-left: 5px solid #a4b0be;
  border-right: 5px solid #a4b0be;
  position: fixed;
  z-index: 100;
}
.P_Back_Style:hover {
  background-color: #e8f1ff;
  cursor: pointer;
}
.Div_ModesCardView_Style {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: left;
}
.Div_VehicleCard_Style {
  width: 95px;
  height: 95px;
  background-color: #f7f7f7;
  margin: 5px;
  border-radius: 3px;
  color: #2f3640;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  padding: 10px;
}
.Div_VehicleCard_Style:hover {
  background-color: #113b92;
  color: whitesmoke;
  cursor: pointer;
  transform: scale(1.05);
}
.P_VehicleCard_Style {
  padding: 0px;
  margin: 0px;
}
.Div_Route_Style {
  margin-top: 50px;
  min-height: 200px;
  color: #2f3640;
}
.Div_Direction_Style {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  flex-wrap: wrap;
}
.Div_DirectionCard_Style {
  width: 40%;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 20px;
  transition: 200ms;
}
.Div_DirectionCard_Style:hover{
  box-shadow: 0px 0px 0px 5px #113b92;
}
@keyframes arrowRight {
  0% {
    color: #113b92;
  }
  50% {
    color: #a7a7a7;
  }
  100% {
    color: #113b92;
  }
}
.Div_ArrowRight_Style{
  display: flex;
  justify-content: center;
  align-items: center;    
  color: #113b92;
  font-size: 30px;
  padding: 10px;
  animation: arrowRight infinite 2s;
}
.Div_DirectionSmallCard_Style{
  width: 48%;
  border-radius: 5px;
  background-color: #113b92;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
