@import url("https://fonts.googleapis.com/css?family=Oswald|Racing+Sans+One|Concert+One&display=swap");
@keyframes FadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1
  }
}
body {
  height: 100vh;
  margin: 0px;
  overflow: none;
  animation: FadeIn 1s;
  transition: 200ms;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.Div_Root_CSS {
  height: 100%;
}