@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One|Faster+One|Bebas+Neue|Hind:wght|Marmelad|Scada|Concert+One|Stardos+Stencil:wght@700&display=swap");
body {
  height: 100vh;
  margin: 0px;
  overflow: overlay;
  background-color: #24262E;
  overflow: none;
  transition: 200ms;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.Div_Root_CSS {
  height: 100%;
}