@import url("https://fonts.googleapis.com/css?family=Oswald|Racing+Sans+One|Faster+One|Bebas+Neue|Hind:wght|Marmelad|Scada|Concert+One|Stardos+Stencil:wght@700&display=swap");
body {
  height: 100vh;
  margin: 0px;
  overflow: none;
  transition: 200ms;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.Div_Root_CSS {
  height: 100%;
}